html {
    width: 100vw;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    width: 365px;
    height: 520px;
    border: solid 1px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 8px 8px;
}

#card:hover {
    width: 365px;
    height: 520px;
    border: solid 1px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 16px 16px;
}

#card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#post-preview-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
}
#svg-container {
    width: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#svg {
    width: 100%;
    border-radius: 10px;
}

#post-theme {
    width: 322px;
    display: flex;
    justify-content: flex-start;
    margin-top: 24px;
}

#theme-container {
    background-color: hsl(47, 88%, 63%);
    border-radius: 5px;
}

h3 {
    font-family: Figtree;
    font-weight: 800;
    padding: 8px 18px;
    margin: 0;
}

#post-publication-date {
    display: flex;
    justify-content: flex-start;
    width: 322px;
    height: 35px;
}

p {
    font-family: Figtree;
    font-weight: 500;
}

#post-title {
    display: flex;
    justify-content: flex-start;
    width: 322px;
}

h2 {
    font-family: Figtree;
    font-weight: 800;
}

h2:hover {
    font-family: Figtree;
    font-weight: 800;
    color: hsl(47, 88%, 63%);
}

#post-preview-text {
    display: flex;
    justify-content: flex-start;
    width: 86%;
    height: 80px;
    align-items: baseline;
}

#text-container {
    height: 100%;
}

#post-text {
    margin-top: 0px;
    color: hsl(0, 0%, 50%);
}

#post-author {
    width: 86%;
}

#author-container {
    display: flex;
}

#author-profile-picture {
    width: 36px;
}

@media (width < 321px) {
    body {
        width: 100vw;
        height: 100vh;
        background-color: hsl(47, 88%, 63%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #card {
        width: 280px;
        height: 460px;
        border: solid 1px;
        border-radius: 25px;
        background-color: white;
        box-shadow: 8px 8px;
    }

    #card:hover {
    width: 280px;
    height: 460px;
    border: solid 1px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 12px 12px;
    }

    #card-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #post-preview-svg {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    
    #svg-container {
        width: 86%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #svg {
        width: 100%;
        border-radius: 10px;
    }
    #post-theme {
        width: 86%;
        display: flex;
        justify-content: flex-start;
        margin-top: 20px;
    }

    #theme-container {
        background-color: hsl(47, 88%, 63%);
        border-radius: 5px;
    }

    h3 {
        font-family: Figtree;
        font-weight: 800;
        padding: 6px 16px;
        margin: 0;
    }

    #post-publication-date {
        display: flex;
        justify-content: flex-start;
        width: 86%;
        height: 35px;
    }

    p {
        font-family: Figtree;
        font-weight: 500;
    }

    #post-title {
        display: flex;
        justify-content: flex-start;
        width: 86%;
    }

    h2 {
        font-family: Figtree;
        font-weight: 800;
        font-size: 20px;
    }

    h2:hover {
        font-family: Figtree;
        font-weight: 800;
        font-size: 20px;
        color: hsl(47, 88%, 63%);
    }

    #post-preview-text {
        display: flex;
        justify-content: flex-start;
        width: 86%;
        height: 90px;
        align-items: baseline;
    }
    
    #text-container {
        height: 100%;
    }

    #post-text {
        margin-top: 0px;
        color: hsl(0, 0%, 50%);
    }

    #post-author {
        width: 86%;
    }

    #author-container {
        display: flex;
    }

    #author-profile-picture {
        width: 36px;
    }
}

@media (376px > width > 320px) {
    body {
        width: 100vw;
        height: 100vh;
        background-color: hsl(47, 88%, 63%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #card {
        width: 335px;
        height: 505px;
        border: solid 1px;
        border-radius: 25px;
        background-color: white;
        box-shadow: 8px 8px;
    }

    #card:hover {
        width: 335px;
        height: 505px;
        border: solid 1px;
        border-radius: 25px;
        background-color: white;
        box-shadow: 12px 12px;
    }

    #card-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #post-preview-svg {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 24px;
    }
    #svg-container {
        width: 88%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #svg {
        width: 100%;
        border-radius: 10px;
    }
    
    #post-theme {
        width: 86%;
        display: flex;
        justify-content: flex-start;
        margin-top: 20px;
    }

    #theme-container {
        background-color: hsl(47, 88%, 63%);
        border-radius: 5px;
    }

    h3 {
        font-family: Figtree;
        font-weight: 800;
        padding: 8px 18px;
        margin: 0;
    }

    #post-publication-date {
        display: flex;
        justify-content: flex-start;
        width: 86%;
        height: 35px;
    }

    p {
        font-family: Figtree;
        font-weight: 500;
    }

    #post-title {
        display: flex;
        justify-content: flex-start;
        width: 86%;
    }

    h2 {
        font-family: Figtree;
        font-weight: 800;
        font-size: 22px;
    }

    h2:hover {
        font-family: Figtree;
        font-weight: 800;
        font-size: 22px;
        color: hsl(47, 88%, 63%);
    }

    #post-preview-text {
        display: flex;
        justify-content: flex-start;
        width: 86%;
        height: 87px;
        align-items: baseline;
    }

    #text-container {
        height: 100%;
    }

    #post-text {
        margin-top: 0px;
        color: hsl(0, 0%, 50%);
    }
    
    #post-author {
        width: 86%;
    }

    #author-container {
        display: flex;
    }

    #author-profile-picture {
        width: 36px;
    }
}